BasedOnStyle: Google

IndentWidth: 4

BinPackArguments: false
BinPackParametersStyle: OnePerLine

AlignOperands: DontAlign
AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: None

AllowShortIfStatementsOnASingleLine: true

